In [79]:
import pandas as pd
import html5lib
import bs4 #beautiful soup
import numpy as np

In [108]:
test = pd.read_excel('https://www.federalreserve.gov/econresdata/researchdata/feds200805.xls')

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found '<?xml ve'

In [2]:
#Here we extract the tips and treas yield data and save the different html pages in a dictionary
i = 0
tips_dict ={}
while True:
    i += 1
    url ='https://www.federalreserve.gov/econresdata/researchdata/feds200805_'+str(i)+'.html'
    try:
        tips_dict['page'+str(i)] = pd.read_html(url)[-1]
    except:
        break
    print 'finished loading the following url:'    
    print url    
    print '/n'   
print 'finished loading all urls'

https://www.federalreserve.gov/econresdata/researchdata/feds200805_1.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_2.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_3.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_4.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_5.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_6.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_7.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_8.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_9.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_10.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_11.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_12.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_13.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_14.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_15.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_16.html
https://www.federalreserve.gov/econresdata/researchdata/feds200805_17.html

In [ ]:
tips_dict['page1'].head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,126
0,NaN,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
1,1999-01-04,3.66880000,-1.74990000,3.04980000,NaN,NaN,NaN,NaN,0.7475,0.7825,...,3.8673,3.8527,3.8397,3.8281,3.8179,3.8088,3.8007,3.7934,3.7869,3.7810
2,1999-01-05,3.68260000,-1.75400000,3.06240000,NaN,NaN,NaN,NaN,0.7825,0.8148,...,3.8845,3.8698,3.8566,3.8449,3.8345,3.8252,3.8169,3.8096,3.8029,3.7969
3,1999-01-06,3.67530000,-1.80790000,2.75900000,NaN,NaN,NaN,NaN,0.8358,0.8902,...,3.7691,3.7613,3.7547,3.7490,3.7441,3.7398,3.7360,3.7326,3.7296,3.7269
4,1999-01-07,3.60670000,-9.98830000,11.86130000,NaN,NaN,NaN,NaN,0.8651,0.9233,...,3.7698,3.7562,3.7448,3.7349,3.7264,3.7189,3.7123,3.7064,3.7012,3.6965

In [4]:
i = 0
nominal_dict ={}
while True:
    i += 1
    url ='http://www.federalreserve.gov/econresdata/researchdata/feds200628_'+str(i)+'.html'
    try:
        nominal_dict['page'+str(i)] = pd.read_html(url)[-1]
    except:
        break
    print 'finished loading the following url:'
    print url     
    print '/n'   
print 'finished loading all urls'

http://www.federalreserve.gov/econresdata/researchdata/feds200628_1.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_2.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_3.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_4.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_5.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_6.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_7.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_8.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_9.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_10.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_11.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_12.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_13.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_14.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_15.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_16.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_17.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_18.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_19.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_20.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_21.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_22.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_23.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_24.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_25.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_26.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_27.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_28.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_29.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_30.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_31.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_32.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_33.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_34.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_35.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_36.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_37.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_38.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_39.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_40.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_41.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_42.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_43.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_44.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_45.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_46.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_47.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_48.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_49.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_50.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_51.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_52.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_53.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_54.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_55.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_56.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_57.html
http://www.federalreserve.gov/econresdata/researchdata/feds200628_58.html

In [5]:
nominal_dict['page1'].head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,NaN,BETA0,BETA1,BETA2,BETA3,SVEN1F01,SVEN1F04,SVEN1F09,SVENF01,SVENF02,...,SVENY23,SVENY24,SVENY25,SVENY26,SVENY27,SVENY28,SVENY29,SVENY30,TAU1,TAU2
1,1961-06-14,3.91760612,-1.27795525,-1.94939710,0.00000000,3.8067,3.9562,NaN,3.5492,3.8825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33921759,-999.99000000
2,1961-06-15,3.97849787,-1.25740444,-2.24761738,0.00000000,3.8694,4.0183,NaN,3.5997,3.9460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.32577488,-999.99000000
3,1961-06-16,3.98435045,-1.42953817,-1.88502418,0.00000000,3.8634,4.0242,NaN,3.5957,3.9448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.34881717,-999.99000000
4,1961-06-19,4.00437935,-0.72331133,-3.31074309,0.00000000,3.9196,4.0447,NaN,3.6447,3.9842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.28208669,-999.99000000

In [97]:
tips_data = pd.DataFrame(np.array(tips_dict['page1'].values[1:,1:],dtype=np.float64),
                         index=tips_dict['page1'].values[1:,0],columns= tips_dict['page1'].loc[0,1:].values)

for i in range(1,len(tips_dict.keys())):
    print 'appending page '+str(i)
    tips_data = tips_data.append(pd.DataFrame(np.array(tips_dict['page'+str(i)].values[1:,1:],dtype=np.float64),
                         index=tips_dict['page'+str(i)].values[1:,0],columns= tips_dict['page'+str(i)].loc[0,1:].values))

In [98]:
tips_data.describe()

,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,BKEVEN07,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
count,499.00000,499.000000,499.000000,0,0,0,0,499.000000,499.000000,499.000000,...,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,-437.22567,-442.281977,-438.541777,NaN,NaN,NaN,NaN,-439.024579,-439.003757,-438.969740,...,-437.026569,-437.033397,-437.039935,-437.046120,-437.051915,-437.057335,-437.062389,-437.067107,-437.071505,-437.075616
std,2055.54150,2054.455091,2055.258982,NaN,NaN,NaN,NaN,2055.154782,2055.159255,2055.166565,...,2055.584272,2055.582804,2055.581398,2055.580069,2055.578823,2055.577658,2055.576571,2055.575557,2055.574612,2055.573728
min,-9999.00000,-9999.000000,-9999.000000,NaN,NaN,NaN,NaN,-9999.000000,-9999.000000,-9999.000000,...,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,3.66875,-2.607450,1.398900,NaN,NaN,NaN,NaN,1.728200,1.766700,1.818700,...,3.862550,3.854100,3.849400,3.848000,3.845000,3.843850,3.842750,3.839650,3.835250,3.831050
50%,3.79900,-1.304800,1.925700,NaN,NaN,NaN,NaN,1.928900,1.966900,2.005100,...,3.964000,3.951500,3.942500,3.930900,3.917400,3.911300,3.907300,3.902500,3.897000,3.893100
75%,3.96830,-0.500500,2.931350,NaN,NaN,NaN,NaN,2.167800,2.155050,2.187550,...,4.059350,4.054300,4.052050,4.050100,4.047100,4.041300,4.034700,4.030300,4.027100,4.016850
max,4.32790,2.871900,14.997600,NaN,NaN,NaN,NaN,2.644500,2.625500,2.624100,...,4.366800,4.363600,4.360900,4.358500,4.356500,4.354700,4.353100,4.351700,4.350500,4.349400

In [103]:
tips_dict['page16']

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,126
0,NaN,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
1,2004-01-23,10.79754901,-11.80905026,-0.39695647,-23.22177625,1.7105,1.8281,1.9302,2.0149,2.0886,...,2.0150,2.0946,2.1588,2.2097,2.2495,2.2798,2.3023,2.3182,2.3287,2.3348
2,2004-01-22,11.36667115,-12.42901073,-2.18270493,-25.27968922,1.7165,1.8216,1.9163,1.9969,2.0682,...,1.9372,2.0171,2.0809,2.1311,2.1698,2.1986,2.2193,2.2331,2.2413,2.2450
3,2004-01-21,11.38260718,-12.43442487,-2.28300698,-25.35740569,1.7397,1.8549,1.9512,2.0306,2.1004,...,1.9667,2.0462,2.1096,2.1592,2.1971,2.2251,2.2449,2.2578,2.2651,2.2678
4,2004-01-20,11.38431409,-12.30866040,-3.23458600,-25.48518894,1.6745,1.8073,1.9163,2.0025,2.0755,...,2.0149,2.0943,2.1574,2.2065,2.2436,2.2707,2.2893,2.3008,2.3066,2.3077
5,2004-01-19,11.37608218,-12.25111247,-3.45501363,-25.57326998,-9999,-9999,-9999,-9999,-9999,...,2.0157,2.0941,2.1561,2.2042,2.2403,2.2664,2.2840,2.2945,2.2993,2.2994
6,2004-01-16,11.37185320,-12.27488828,-2.76548436,-25.37498910,1.6519,1.7768,1.8819,1.9677,2.0418,...,2.0051,2.0825,2.1440,2.1920,2.2283,2.2549,2.2734,2.2850,2.2910,2.2925
7,2004-01-15,11.36759390,-12.24246582,-3.53553610,-25.56578459,1.6154,1.7302,1.8284,1.9099,1.9816,...,2.0155,2.0942,2.1565,2.2047,2.2410,2.2671,2.2848,2.2953,2.3001,2.3001
8,2004-01-14,11.32405148,-12.14884744,-3.89183620,-25.47416301,1.5627,1.6864,1.7956,1.8873,1.9678,...,2.0290,2.1083,2.1712,2.2199,2.2564,2.2827,2.3003,2.3108,2.3153,2.3151
9,2004-01-13,9.08715115,-9.99270516,-1.94368972,-19.03271108,1.5379,1.6646,1.7832,1.8866,1.9792,...,2.0091,2.0845,2.1447,2.1920,2.2284,2.2557,2.2752,2.2885,2.2966,2.3004
10,2004-01-12,9.04988425,-9.90821254,-1.81822034,-18.95843685,1.5351,1.6684,1.7881,1.8910,1.9830,...,2.0580,2.1311,2.1890,2.2340,2.2683,2.2935,2.3111,2.3225,2.3288,2.3310
11,2004-01-09,7.41113346,-8.32306148,-0.84765869,-14.34506376,1.5293,1.6544,1.7749,1.8813,1.9771,...,2.0524,2.1227,2.1785,2.2222,2.2558,2.2810,2.2993,2.3118,2.3196,2.3237
12,2004-01-08,6.85308631,-7.63345512,-0.22847332,-12.66807915,1.5702,1.7178,1.8438,1.9509,2.0466,...,2.1325,2.1981,2.2501,2.2905,2.3214,2.3443,2.3608,2.3720,2.3788,2.3822
13,2004-01-07,6.77838343,-7.70697096,-0.18185909,-12.60714574,1.6534,1.7888,1.9044,2.0023,2.0901,...,2.1049,2.1713,2.2235,2.2639,2.2946,2.3172,2.3331,2.3437,2.3499,2.3527
14,2004-01-06,6.56515787,-7.54453129,-0.15875471,-12.05261072,1.6685,1.8011,1.9153,2.0128,2.1008,...,2.1217,2.1870,2.2380,2.2772,2.3067,2.3282,2.3432,2.3528,2.3582,2.3602
15,2004-01-05,6.54788035,-7.46558525,-0.07993897,-11.98249677,1.7003,1.8361,1.9473,2.0428,2.1306,...,2.2016,2.2638,2.3119,2.3482,2.3749,2.3937,2.4062,2.4135,2.4166,2.4165
16,2004-01-02,5.54247766,-6.58996814,-0.68718121,-9.01483981,1.7257,1.8338,1.9288,2.0154,2.0992,...,2.2013,2.2621,2.3091,2.3450,2.3718,2.3912,2.4047,2.4135,2.4185,2.4205
17,2004-01-01,-9999,-9999,-9999,NaN,NaN,NaN,NaN,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
18,2003-12-31,2.18940000,-3.15700000,4.20490000,NaN,NaN,NaN,NaN,1.9504,2.0441,...,2.1228,2.1841,2.2325,2.2705,2.2999,2.3224,2.3394,2.3519,2.3608,2.3669
19,2003-12-30,2.15640000,-3.13640000,4.40390000,NaN,NaN,NaN,NaN,1.9576,2.0492,...,2.1459,2.2074,2.2557,2.2932,2.3221,2.3438,2.3599,2.3715,2.3793,2.3842
20,2003-12-29,2.20250000,-3.24150000,4.14000000,NaN,NaN,NaN,NaN,1.9454,2.0362,...,2.1120,2.1717,2.2186,2.2552,2.2835,2.3051,2.3214,2.3334,2.3420,2.3479
21,2003-12-26,2.20390000,-3.20030000,3.97170000,NaN,NaN,NaN,NaN,1.9228,2.0101,...,2.0687,2.1299,2.1785,2.2168,2.2469,2.2703,2.2883,2.3019,2.3120,2.3194
22,2003-12-25,-9999,-9999,-9999,NaN,NaN,NaN,NaN,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
23,2003-12-24,2.16020000,-3.14850000,4.14500000,NaN,NaN,NaN,NaN,1.9409,2.0267,...,2.0898,2.1497,2.1970,2.2339,2.2625,2.2844,2.3008,2.3129,2.3214,2.3272
24,2003-12-23,2.12530000,-3.03950000,4.41750000,NaN,NaN,NaN,NaN,1.9635,2.0449,...,2.1590,2.2180,2.2640,2.2995,2.3264,2.3464,2.3609,2.3710,2.3775,2.3811
25,2003-12-22,1.90830000,-2.71340000,4.88700000,NaN,NaN,NaN,NaN,1.9250,2.0110,...,2.1092,2.1746,2.2265,2.2671,2.2983,2.3218,2.3388,2.3506,2.3581,2.3621
26,2003-12-19,2.14890000,-3.08920000,4.16790000,NaN,NaN,NaN,NaN,1.9178,2.0019,...,2.0828,2.1449,2.1940,2.2328,2.2629,2.2862,2.3038,2.3169,2.3263,2.3328
27,2003-12-18,2.22080000,-3.17740000,3.84170000,NaN,NaN,NaN,NaN,1.9068,1.9924,...,2.0748,2.1336,2.1803,2.2170,2.2458,2.2682,2.2854,2.2985,2.3083,2.3154
28,2003-12-17,1.76770000,-2.51080000,5.27070000,NaN,NaN,NaN,NaN,1.9062,1.9976,...,2.1303,2.1967,2.2493,2.2902,2.3214,2.3445,2.3609,2.3718,2.3780,2.3804
29,2003-12-16,1.75360000,-2.59800000,5.49570000,NaN,NaN,NaN,NaN,1.9645,2.0524,...,2.1374,2.2066,2.2614,2.3042,2.3368,2.3609,2.3781,2.3894,2.3959,2.3985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,2002-04-05,3.52890000,-13.55850000,11.26490000,NaN,NaN,NaN,NaN,1.9272,1.9781,...,3.2856,3.3063,3.3236,3.3383,3.3511,3.3622,3.3720,3.3807,3.3885,3.3956
472,2002-04-04,3.54440000,-12.18890000,9.96930000,NaN,NaN,NaN,NaN,1.9594,2.0170,...,3.3067,3.3269,3.3438,3.3582,3.3707,3.3815,3.3911,3.3996,3.4073,3.4141
473,2002-04-03,3.55420000,-13.26280000,11.22020000,NaN,NaN,NaN,NaN,1.9307,1.9933,...,3.3369,3.3554,3.3709,3.3841,3.3955,3.4054,3.4141,3.4219,3.4289,3.4352
474,2002-04-02,3.58180000,-12.15670000,10.08390000,NaN,NaN,NaN,NaN,1.9651,2.0294,...,3.3616,3.3803,3.3960,3.4093,3.4208,3.4309,3.4398,3.4477,3.4547,3.4611
475,2002-04-01,3.56940000,-12.20130000,10.57920000,NaN,NaN,NaN,NaN,1.9862,2.0547,...,3.3938,3.4089,3.4215,3.4321,3.4413,3.4493,3.4564,3.4627,3.4683,3.4733
476,2002-03-29,-9999,-9999,-9999,NaN,NaN,NaN,NaN,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
477,2002-03-28,3.56550000,-12.78850000,11.43380000,NaN,NaN,NaN,NaN,1.9451,2.0140,...,3.4167,3.4297,3.4404,3.4494,3.4572,3.4640,3.4700,3.4753,3.4800,3.4843
478,2002-03-27,3.54920000,-12.65450000,11.22990000,NaN,NaN,NaN,NaN,1.9109,1.9760,...,3.3926,3.4062,3.4175,3.4270,3.4352,3.4423,3.4486,3.4542,3.4592,3.4637
479,2002-03-26,3.54980000,-14.04660000,12.99750000,NaN,NaN,NaN,NaN,1.8733,1.9302,...,3.4329,3.4434,3.4519,3.4590,3.4651,3.4705,3.4751,3.4793,3.4830,3.4863
480,2002-03-25,3.58090000,-13.40860000,12.54320000,NaN,NaN,NaN,NaN,1.9002,1.9491,...,3.4798,3.4892,3.4967,3.5029,3.5082,3.5128,3.5168,3.5204,3.5236,3.5264
481,2002-03-22,3.58720000,-13.28770000,12.36820000,NaN,NaN,NaN,NaN,1.8809,1.9381,...,3.4802,3.4900,3.4979,3.5045,3.5101,3.5149,3.5192,3.5230,3.5264,3.5294
482,2002-03-21,3.57960000,-13.57530000,12.64690000,NaN,NaN,NaN,NaN,1.8748,1.9315,...,3.4721,3.4819,3.4899,3.4965,3.5021,3.5070,3.5113,3.5151,3.5185,3.5215
483,2002-03-20,3.58230000,-13.98150000,13.28020000,NaN,NaN,NaN,NaN,1.8268,1.8892,...,3.5001,3.5079,3.5141,3.5191,3.5234,3.5272,3.5304,3.5333,3.5359,3.5382
484,2002-03-19,3.52780000,-10.15870000,9.64220000,NaN,NaN,NaN,NaN,1.7850,1.8508,...,3.4576,3.4651,3.4708,3.4753,3.4790,3.4821,3.4849,3.4873,3.4894,3.4914
485,2002-03-18,3.51780000,-9.95490000,9.42290000,NaN,NaN,NaN,NaN,1.7858,1.8516,...,3.4460,3.4536,3.4593,3.4639,3.4677,3.4709,3.4737,3.4762,3.4784,3.4804
486,2002-03-15,3.52050000,-13.80480000,13.38810000,NaN,NaN,NaN,NaN,1.7983,1.8568,...,3.4681,3.4738,3.4780,3.4813,3.4841,3.4864,3.4885,3.4903,3.4919,3.4933
487,2002-03-14,3.52890000,-13.46190000,13.17010000,NaN,NaN,NaN,NaN,1.8298,1.8866,...,3.4891,3.4941,3.4976,3.5002,3.5023,3.5041,3.5056,3.5069,3.5081,3.5091
488,2002-03-13,3.53420000,-14.61200000,14.06990000,NaN,NaN,NaN,NaN,1.7410,1.7964,...,3.4669,3.4738,3.4791,3.4834,3.4869,3.4899,3.4926,3.4949,3.4970,3.4988
489,2002-03-12,3.53060000,-14.42870000,14.09040000,NaN,NaN,NaN,NaN,1.7867,1.8306,...,3.4855,3.4910,3.4949,3.4978,3.5002,3.5022,3.5039,3.5054,3.5067,3.5079
490,2002-03-11,3.54780000,-14.57390000,14.10440000,NaN,NaN,NaN,NaN,1.8043,1.8476,...,3.4878,3.4944,3.4992,3.5030,3.5062,3.5089,3.5112,3.5132,3.5151,3.5167
491,2002-03-08,3.55780000,-14.68650000,14.21850000,NaN,NaN,NaN,NaN,1.7900,1.8323,...,3.4981,3.5046,3.5094,3.5132,3.5163,3.5190,3.5213,3.5234,3.5252,3.5268
492,2002-03-07,3.55600000,-15.01990000,14.25800000,NaN,NaN,NaN,NaN,1.7220,1.7687,...,3.4633,3.4724,3.4794,3.4852,3.4900,3.4942,3.4979,3.5011,3.5040,3.5066
493,2002-03-06,3.47940000,-12.55440000,11.83100000,NaN,NaN,NaN,NaN,1.5979,1.6570,...,3.3860,3.3954,3.4027,3.4085,3.4134,3.4176,3.4213,3.4246,3.4275,3.4301
494,2002-03-05,3.45620000,-15.10760000,14.48410000,NaN,NaN,NaN,NaN,1.5688,1.6230,...,3.3803,3.3879,3.3938,3.3985,3.4025,3.4059,3.4089,3.4116,3.4139,3.4160
495,2002-03-04,3.43890000,-16.11090000,15.48220000,NaN,NaN,NaN,NaN,1.5792,1.6356,...,3.3640,3.3715,3.3772,3.3819,3.3858,3.3891,3.3921,3.3947,3.3970,3.3991
496,2002-03-01,3.44420000,-14.91710000,14.14520000,NaN,NaN,NaN,NaN,1.5490,1.6117,...,3.3517,3.3606,3.3676,3.3733,3.3782,3.3824,3.3860,3.3893,3.3922,3.3948
497,2002-02-28,3.43000000,-14.83970000,13.91960000,NaN,NaN,NaN,NaN,1.4620,1.5312,...,3.3224,3.3324,3.3404,3.3470,3.3526,3.3575,3.3618,3.3656,3.3690,3.3720
498,2002-02-27,3.41810000,-15.14870000,14.33450000,NaN,NaN,NaN,NaN,1.4126,1.4839,...,3.3222,3.3313,3.3385,3.3444,3.3494,3.3537,3.3575,3.3609,3.3639,3.3666
499,2002-02-26,3.41140000,-15.16180000,14.64130000,NaN,NaN,NaN,NaN,1.4796,1.5460,...,3.3479,3.3545,3.3594,3.3634,3.3667,3.3696,3.3721,3.3743,3.3762,3.3780
500,2002-02-25,3.40980000,-12.94480000,12.28270000,NaN,NaN,NaN,NaN,1.4371,1.5019,...,3.3255,3.3341,3.3406,3.3459,3.3503,3.3541,3.3574,3.3604,3.3630,3.3653

In [107]:
tips_data = pd.DataFrame(np.array(tips_dict['page16'].values[1:,1:],dtype=np.float64),
                         index=tips_dict['page16'].values[1:,0],columns= tips_dict['page16'].loc[0,1:].values)
tips_data.head()

,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,BKEVEN07,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
2004-01-23,10.797549,-11.809050,-0.396956,-23.221776,1.7105,1.8281,1.9302,2.0149,2.0886,2.1558,...,2.0150,2.0946,2.1588,2.2097,2.2495,2.2798,2.3023,2.3182,2.3287,2.3348
2004-01-22,11.366671,-12.429011,-2.182705,-25.279689,1.7165,1.8216,1.9163,1.9969,2.0682,2.1341,...,1.9372,2.0171,2.0809,2.1311,2.1698,2.1986,2.2193,2.2331,2.2413,2.2450
2004-01-21,11.382607,-12.434425,-2.283007,-25.357406,1.7397,1.8549,1.9512,2.0306,2.1004,2.1651,...,1.9667,2.0462,2.1096,2.1592,2.1971,2.2251,2.2449,2.2578,2.2651,2.2678
2004-01-20,11.384314,-12.308660,-3.234586,-25.485189,1.6745,1.8073,1.9163,2.0025,2.0755,2.1409,...,2.0149,2.0943,2.1574,2.2065,2.2436,2.2707,2.2893,2.3008,2.3066,2.3077
2004-01-19,11.376082,-12.251112,-3.455014,-25.573270,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,...,2.0157,2.0941,2.1561,2.2042,2.2403,2.2664,2.2840,2.2945,2.2993,2.2994

In [91]:
tips_dict.keys()

['page12',
 'page13',
 'page14',
 'page11',
 'page15',
 'page10',
 'page17',
 'page8',
 'page9',
 'page6',
 'page7',
 'page4',
 'page5',
 'page2',
 'page3',
 'page16',
 'page1']

In [82]:


df = pd.DataFrame(np.array(test.values[1:,1:],dtype=np.float64),index=test.values[1:,0],columns= test.loc[0,1:].values)

In [83]:
df.head()

,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,BKEVEN07,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
1999-01-04,3.6688,-1.7499,3.0498,NaN,NaN,NaN,NaN,0.7475,0.7825,0.8489,...,3.8673,3.8527,3.8397,3.8281,3.8179,3.8088,3.8007,3.7934,3.7869,3.7810
1999-01-05,3.6826,-1.7540,3.0624,NaN,NaN,NaN,NaN,0.7825,0.8148,0.8791,...,3.8845,3.8698,3.8566,3.8449,3.8345,3.8252,3.8169,3.8096,3.8029,3.7969
1999-01-06,3.6753,-1.8079,2.7590,NaN,NaN,NaN,NaN,0.8358,0.8902,0.9603,...,3.7691,3.7613,3.7547,3.7490,3.7441,3.7398,3.7360,3.7326,3.7296,3.7269
1999-01-07,3.6067,-9.9883,11.8613,NaN,NaN,NaN,NaN,0.8651,0.9233,1.0065,...,3.7698,3.7562,3.7448,3.7349,3.7264,3.7189,3.7123,3.7064,3.7012,3.6965
1999-01-08,3.6057,-4.4381,6.1063,NaN,NaN,NaN,NaN,0.9286,0.9822,1.0634,...,3.7913,3.7762,3.7633,3.7521,3.7424,3.7338,3.7263,3.7196,3.7136,3.7082

In [76]:
df.describe()

,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,BKEVEN07,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
count,499,499,499,0,0,0,0,499,499,499,...,499,499,499,499,499,499,499,499,499,499
unique,463,477,475,0,0,0,0,468,461,466,...,457,457,451,458,450,454,448,452,447,450
top,-9999,-9999,-9999,NaN,NaN,NaN,NaN,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
freq,22,22,22,NaN,NaN,NaN,NaN,22,22,22,...,22,22,22,22,22,22,22,22,22,22

In [70]:
test2 = test.copy()
test2=test2.set_index([0])
test2 = test2.ix[1:]
test2.head()

,1,2,3,4,5,6,7,8,9,10,...,117,118,119,120,121,122,123,124,125,126
0,,,,,,,,,,,,,,,,,,,,,
1999-01-04,3.66880000,-1.74990000,3.04980000,NaN,NaN,NaN,NaN,0.7475,0.7825,0.8489,...,3.8673,3.8527,3.8397,3.8281,3.8179,3.8088,3.8007,3.7934,3.7869,3.7810
1999-01-05,3.68260000,-1.75400000,3.06240000,NaN,NaN,NaN,NaN,0.7825,0.8148,0.8791,...,3.8845,3.8698,3.8566,3.8449,3.8345,3.8252,3.8169,3.8096,3.8029,3.7969
1999-01-06,3.67530000,-1.80790000,2.75900000,NaN,NaN,NaN,NaN,0.8358,0.8902,0.9603,...,3.7691,3.7613,3.7547,3.7490,3.7441,3.7398,3.7360,3.7326,3.7296,3.7269
1999-01-07,3.60670000,-9.98830000,11.86130000,NaN,NaN,NaN,NaN,0.8651,0.9233,1.0065,...,3.7698,3.7562,3.7448,3.7349,3.7264,3.7189,3.7123,3.7064,3.7012,3.6965
1999-01-08,3.60570000,-4.43810000,6.10630000,NaN,NaN,NaN,NaN,0.9286,0.9822,1.0634,...,3.7913,3.7762,3.7633,3.7521,3.7424,3.7338,3.7263,3.7196,3.7136,3.7082

In [45]:
columns[0]='date'
columns
test.columns = columns

In [46]:
test.head()

,date,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
0,date,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
1,1999-01-04,3.66880000,-1.74990000,3.04980000,NaN,NaN,NaN,NaN,0.7475,0.7825,...,3.8673,3.8527,3.8397,3.8281,3.8179,3.8088,3.8007,3.7934,3.7869,3.7810
2,1999-01-05,3.68260000,-1.75400000,3.06240000,NaN,NaN,NaN,NaN,0.7825,0.8148,...,3.8845,3.8698,3.8566,3.8449,3.8345,3.8252,3.8169,3.8096,3.8029,3.7969
3,1999-01-06,3.67530000,-1.80790000,2.75900000,NaN,NaN,NaN,NaN,0.8358,0.8902,...,3.7691,3.7613,3.7547,3.7490,3.7441,3.7398,3.7360,3.7326,3.7296,3.7269
4,1999-01-07,3.60670000,-9.98830000,11.86130000,NaN,NaN,NaN,NaN,0.8651,0.9233,...,3.7698,3.7562,3.7448,3.7349,3.7264,3.7189,3.7123,3.7064,3.7012,3.6965

In [60]:
test2 = test.copy()
test2=test2.set_index(['date'])
test2 = test2.ix[1:]
test2.head()

,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,BKEVEN07,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
date,,,,,,,,,,,,,,,,,,,,,
1999-01-04,3.66880000,-1.74990000,3.04980000,NaN,NaN,NaN,NaN,0.7475,0.7825,0.8489,...,3.8673,3.8527,3.8397,3.8281,3.8179,3.8088,3.8007,3.7934,3.7869,3.7810
1999-01-05,3.68260000,-1.75400000,3.06240000,NaN,NaN,NaN,NaN,0.7825,0.8148,0.8791,...,3.8845,3.8698,3.8566,3.8449,3.8345,3.8252,3.8169,3.8096,3.8029,3.7969
1999-01-06,3.67530000,-1.80790000,2.75900000,NaN,NaN,NaN,NaN,0.8358,0.8902,0.9603,...,3.7691,3.7613,3.7547,3.7490,3.7441,3.7398,3.7360,3.7326,3.7296,3.7269
1999-01-07,3.60670000,-9.98830000,11.86130000,NaN,NaN,NaN,NaN,0.8651,0.9233,1.0065,...,3.7698,3.7562,3.7448,3.7349,3.7264,3.7189,3.7123,3.7064,3.7012,3.6965
1999-01-08,3.60570000,-4.43810000,6.10630000,NaN,NaN,NaN,NaN,0.9286,0.9822,1.0634,...,3.7913,3.7762,3.7633,3.7521,3.7424,3.7338,3.7263,3.7196,3.7136,3.7082

In [64]:
test2.BETA0[0]

u'3.66880000'

In [53]:
test2.head()

,BETA0,BETA1,BETA2,BETA3,BKEVEN02,BKEVEN03,BKEVEN04,BKEVEN05,BKEVEN06,BKEVEN07,...,TIPSY11,TIPSY12,TIPSY13,TIPSY14,TIPSY15,TIPSY16,TIPSY17,TIPSY18,TIPSY19,TIPSY20
date,,,,,,,,,,,,,,,,,,,,,
1999-01-04,3.66880000,-1.74990000,3.04980000,NaN,NaN,NaN,NaN,0.7475,0.7825,0.8489,...,3.8673,3.8527,3.8397,3.8281,3.8179,3.8088,3.8007,3.7934,3.7869,3.7810
1999-01-05,3.68260000,-1.75400000,3.06240000,NaN,NaN,NaN,NaN,0.7825,0.8148,0.8791,...,3.8845,3.8698,3.8566,3.8449,3.8345,3.8252,3.8169,3.8096,3.8029,3.7969
1999-01-06,3.67530000,-1.80790000,2.75900000,NaN,NaN,NaN,NaN,0.8358,0.8902,0.9603,...,3.7691,3.7613,3.7547,3.7490,3.7441,3.7398,3.7360,3.7326,3.7296,3.7269
1999-01-07,3.60670000,-9.98830000,11.86130000,NaN,NaN,NaN,NaN,0.8651,0.9233,1.0065,...,3.7698,3.7562,3.7448,3.7349,3.7264,3.7189,3.7123,3.7064,3.7012,3.6965
1999-01-08,3.60570000,-4.43810000,6.10630000,NaN,NaN,NaN,NaN,0.9286,0.9822,1.0634,...,3.7913,3.7762,3.7633,3.7521,3.7424,3.7338,3.7263,3.7196,3.7136,3.7082

In [14]:
test2.set_index([0])

,1,2,3,4,5,6,7,8,9,10,...,117,118,119,120,121,122,123,124,125,126
0,,,,,,,,,,,,,,,,,,,,,
1999-01-04,3.66880000,-1.74990000,3.04980000,NaN,NaN,NaN,NaN,0.7475,0.7825,0.8489,...,3.8673,3.8527,3.8397,3.8281,3.8179,3.8088,3.8007,3.7934,3.7869,3.7810
1999-01-05,3.68260000,-1.75400000,3.06240000,NaN,NaN,NaN,NaN,0.7825,0.8148,0.8791,...,3.8845,3.8698,3.8566,3.8449,3.8345,3.8252,3.8169,3.8096,3.8029,3.7969
1999-01-06,3.67530000,-1.80790000,2.75900000,NaN,NaN,NaN,NaN,0.8358,0.8902,0.9603,...,3.7691,3.7613,3.7547,3.7490,3.7441,3.7398,3.7360,3.7326,3.7296,3.7269
1999-01-07,3.60670000,-9.98830000,11.86130000,NaN,NaN,NaN,NaN,0.8651,0.9233,1.0065,...,3.7698,3.7562,3.7448,3.7349,3.7264,3.7189,3.7123,3.7064,3.7012,3.6965
1999-01-08,3.60570000,-4.43810000,6.10630000,NaN,NaN,NaN,NaN,0.9286,0.9822,1.0634,...,3.7913,3.7762,3.7633,3.7521,3.7424,3.7338,3.7263,3.7196,3.7136,3.7082
1999-01-11,3.53890000,-12.32910000,14.99760000,NaN,NaN,NaN,NaN,0.9355,1.0026,1.0983,...,3.7780,3.7582,3.7414,3.7269,3.7144,3.7034,3.6938,3.6851,3.6774,3.6705
1999-01-12,3.57520000,-3.62380000,5.23170000,NaN,NaN,NaN,NaN,0.9213,0.9776,1.0614,...,3.7633,3.7482,3.7351,3.7238,3.7139,3.7053,3.6976,3.6908,3.6848,3.6793
1999-01-13,3.58560000,-4.81040000,6.42240000,NaN,NaN,NaN,NaN,0.8771,0.9280,1.0093,...,3.7643,3.7498,3.7374,3.7266,3.7172,3.7090,3.7018,3.6953,3.6896,3.6844
1999-01-14,3.58660000,-1.87020000,2.93780000,NaN,NaN,NaN,NaN,0.8366,0.8859,0.9616,...,3.7419,3.7304,3.7201,3.7110,3.7030,3.6958,3.6895,3.6838,3.6787,3.6741
1999-01-15,3.61390000,-2.20820000,3.27550000,NaN,NaN,NaN,NaN,0.8700,0.9102,0.9807,...,3.7644,3.7532,3.7431,3.7343,3.7265,3.7195,3.7134,3.7079,3.7030,3.6985
1999-01-18,-9999,-9999,-9999,NaN,NaN,NaN,NaN,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1999-01-19,3.61040000,-1.90170000,2.91320000,NaN,NaN,NaN,NaN,0.9367,0.9714,1.0357,...,3.7578,3.7470,3.7373,3.7286,3.7210,3.7142,3.7082,3.7028,3.6979,3.6936
1999-01-20,3.58950000,-1.67630000,2.76490000,NaN,NaN,NaN,NaN,0.9682,1.0025,1.0672,...,3.7588,3.7468,3.7359,3.7261,3.7174,3.7096,3.7027,3.6964,3.6909,3.6858
1999-01-21,3.59270000,-1.94650000,3.09810000,NaN,NaN,NaN,NaN,0.8948,0.9295,0.9957,...,3.7630,3.7505,3.7393,3.7293,3.7205,3.7127,3.7057,3.6995,3.6939,3.6888
1999-01-22,3.58660000,-2.14560000,3.31530000,NaN,NaN,NaN,NaN,0.8437,0.8767,0.9412,...,3.7511,3.7387,3.7276,3.7179,3.7094,3.7018,3.6951,3.6891,3.6837,3.6789
1999-01-25,3.59370000,-1.80410000,2.89180000,NaN,NaN,NaN,NaN,0.8581,0.8918,0.9561,...,3.7547,3.7429,3.7322,3.7228,3.7145,3.7071,3.7005,3.6946,3.6893,3.6846
1999-01-26,3.57920000,-0.77860000,1.67570000,NaN,NaN,NaN,NaN,0.9202,0.9453,0.9977,...,3.7549,3.7452,3.7356,3.7266,3.7182,3.7105,3.7034,3.6969,3.6910,3.6856
1999-01-27,3.58120000,-0.72110000,1.55410000,NaN,NaN,NaN,NaN,0.9068,0.9349,0.9906,...,3.7434,3.7342,3.7254,3.7170,3.7092,3.7020,3.6954,3.6895,3.6840,3.6790
1999-01-28,3.57370000,-0.89610000,1.71340000,NaN,NaN,NaN,NaN,0.9175,0.9385,0.9894,...,3.7269,3.7181,3.7096,3.7016,3.6942,3.6874,3.6811,3.6755,3.6703,3.6656
1999-01-29,3.58080000,-1.16620000,2.02000000,NaN,NaN,NaN,NaN,0.8967,0.9183,0.9716,...,3.7308,3.7215,3.7128,3.7046,3.6971,3.6904,3.6842,3.6787,3.6736,3.6691
1999-02-01,3.58640000,-0.81200000,1.49950000,NaN,NaN,NaN,NaN,1.0276,1.0513,1.1024,...,3.7203,3.7137,3.7070,3.7005,3.6943,3.6884,3.6831,3.6781,3.6735,3.6694
1999-02-02,3.59620000,-0.94440000,1.67310000,NaN,NaN,NaN,NaN,1.0504,1.0779,1.1338,...,3.7278,3.7200,3.7126,3.7055,3.6991,3.6932,3.6878,3.6829,3.6785,3.6744
1999-02-03,3.61370000,-1.93560000,2.75530000,NaN,NaN,NaN,NaN,1.0686,1.1050,1.1669,...,3.7255,3.7170,3.7095,3.7029,3.6971,3.6919,3.6874,3.6833,3.6796,3.6763
1999-02-04,3.62890000,-2.01710000,2.79460000,NaN,NaN,NaN,NaN,1.1474,1.1818,1.2413,...,3.7354,3.7274,3.7203,3.7141,3.7085,3.7036,3.6993,3.6954,3.6919,3.6887
1999-02-05,3.61770000,-2.11840000,3.07520000,NaN,NaN,NaN,NaN,1.1655,1.1997,1.2598,...,3.7512,3.7412,3.7323,3.7244,3.7175,3.7113,3.7059,3.7010,3.6966,3.6927
1999-02-08,3.61280000,-1.83780000,2.83180000,NaN,NaN,NaN,NaN,1.1354,1.1687,1.2296,...,3.7602,3.7495,3.7398,3.7312,3.7236,3.7168,3.7108,3.7054,3.7005,3.6962
1999-02-09,3.61970000,-1.86340000,2.86380000,NaN,NaN,NaN,NaN,1.0874,1.1264,1.1906,...,3.7578,3.7473,3.7380,3.7298,3.7226,3.7163,3.7106,3.7056,3.7011,3.6970
1999-02-10,3.61150000,-1.85690000,2.94310000,NaN,NaN,NaN,NaN,1.0810,1.1208,1.1859,...,3.7639,3.7523,3.7421,3.7331,3.7251,3.7181,3.7119,3.7064,3.7014,3.6969
1999-02-11,3.59150000,-1.80530000,2.90870000,NaN,NaN,NaN,NaN,1.1190,1.1608,1.2256,...,3.7435,3.7318,3.7215,3.7125,3.7045,3.6975,3.6914,3.6858,3.6809,3.6764
1999-02-12,3.59550000,-1.73930000,2.87190000,NaN,NaN,NaN,NaN,1.2439,1.3002,1.3755,...,3.7394,3.7279,3.7180,3.7093,3.7018,3.6952,3.6894,3.6841,3.6795,3.6753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-10-20,3.83370000,-2.61260000,2.56620000,NaN,NaN,NaN,NaN,1.8343,1.8469,1.8716,...,3.8302,3.8305,3.8307,3.8309,3.8311,3.8313,3.8314,3.8316,3.8317,3.8318
2000-10-23,3.80590000,-3.81560000,3.72940000,NaN,NaN,NaN,NaN,1.8213,1.8320,1.8536,...,3.8006,3.8010,3.8014,3.8017,3.8020,3.8022,3.8024,3.8026,3.8028,3.8030
2000-10-24,3.81280000,-2.10610000,2.10050000,NaN,NaN,NaN,NaN,1.8490,1.8589,1.8811,...,3.8123,3.8123,3.8124,3.8124,3.8124,3.8125,3.8125,3.8125,3.8125,3.8125
2000-10-25,3.81680000,-1.52280000,1.58640000,NaN,NaN,NaN,NaN,1.8826,1.8925,1.9151,...,3.8233,3.8228,3.8223,3.8220,3.8216,3.8213,3.8211,3.8208,3.8206,3.8204
2000-10-26,3.79850000,-1.34960000,1.46170000,NaN,NaN,NaN,NaN,1.9088,1.9130,1.9317,...,3.8111,3.8102,3.8093,3.8086,3.8079,3.8073,3.8068,3.8064,3.8059,3.8056
2000-10-27,3.79280000,-1.27210000,1.39380000,NaN,NaN,NaN,NaN,1.9451,1.9443,1.9591,...,3.8072,3.8062,3.8052,3.8044,3.8036,3.8030,3.8024,3.8018,3.8014,3.8009
2000-10-30,3.80370000,-1.26930000,1.34030000,NaN,NaN,NaN,NaN,1.9681,1.9671,1.9809,...,3.8116,3.8111,3.8106,3.8101,3.8097,3.8093,3.8090,3.8087,3.8084,3.8082
2000-10-31,3.81290000,-1.22790000,1.31660000,NaN,NaN,NaN,NaN,1.9724,1.9790,1.9979,...,3.8232,3.8225,3.8218,3.8212,3.8207,3.8202,3.8198,3.8194,3.8190,3.8187
2000-11-01,3.80450000,-1.16850000,1.28760000,NaN,NaN,NaN,NaN,1.9448,1.9525,1.9736,...,3.8194,3.8184,3.8175,3.8166,3.8158,3.8151,3.8145,3.8140,3.8135,3.8130
2000-11-02,3.80620000,-1.26600000,1.38970000,NaN,NaN,NaN,NaN,1.9289,1.9381,1.9609,...,3.8211,3.8201,3.8191,3.8182,3.8175,3.8168,3.8162,3.8156,3.8151,3.8147
2000-11-03,3.80790000,-1.17320000,1.27500000,NaN,NaN,NaN,NaN,2.0134,2.0271,2.0523,...,3.8198,3.8189,3.8182,3.8175,3.8168,3.8163,3.8158,3.8154,3.8150,3.8146
2000-11-06,3.82680000,-1.12150000,1.30400000,NaN,NaN,NaN,NaN,2.0186,2.0294,2.0530,...,3.8506,3.8489,3.8474,3.8460,3.8448,3.8437,3.8427,3.8418,3.8410,3.8403
2000-11-07,3.82710000,-1.19590000,1.38030000,NaN,NaN,NaN,NaN,2.0243,2.0336,2.0558,...,3.8506,3.8490,3.8474,3.8461,3.8448,3.8437,3.8428,3.8419,3.8411,3.8404
2000-11-08,3.83590000,-1.11620000,1.26490000,NaN,NaN,NaN,NaN,2.0147,2.0229,2.0429,...,3.8548,3.8535,3.8523,3.8512,3.8502,3.8493,3.8485,3.8478,3.8472,3.8466
2000-11-09,3.82820000,-1.11800000,1.25450000,NaN,NaN,NaN,NaN,1.9668,1.9770,2.0002,...,3.8456,3.8444,3.8433,3.8423,3.8414,3.8406,3.8399,3.8392,3.8387,3.8381
2000-11-10,3.84310000,-1.26900000,1.33530000,NaN,NaN,NaN,NaN,1.9505,1.9664,1.9937,...,3.8507,3.8502,3.8497,3.8493,3.8489,3.8485,3.8482,3.8479,3.8477,3.8474
2000-11-13,3.83660000,-1.80820000,1.81110000,NaN,NaN,NaN,NaN,1.9187,1.9393,1.9689,...,3.8369,3.8369,3.8369,3.8369,3.8368,3.8368,3.8368,3.8368,3.8368,3.8368
2000-11-14,3.82400000,-1.77230000,1.83310000,NaN,NaN,NaN,NaN,1.9172,1.9314,1.9559,...,3.8294,3.8290,3.8286,3.8283,3.8280,3.8277,3.8275,3.8273,3.8272,3.8270
2000-11-15,3.80500000,-1.33960000,1.45640000,NaN,NaN,NaN,NaN,1.9034,1.9128,1.9338,...,3.8175,3.8165,3.8157,3.8149,3.8143,3.8137,3.8132,3.8127,3.8123,3.8120
2000-11-16,3.79900000,-1.08470000,1.23290000,NaN,NaN,NaN,NaN,1.8754,1.8832,1.9034,...,3.8167,3.8153,3.8141,3.8131,3.8122,3.8114,3.8106,3.8100,3.8094,3.8089
2000-11-17,3.79850000,-1.02190000,1.17940000,NaN,NaN,NaN,NaN,1.8865,1.8986,1.9225,...,3.8168,3.8154,3.8142,3.8131,3.8121,3.8113,3.8105,3.8099,3.8093,3.8087
2000-11-20,3.80170000,-0.69600000,0.81060000,NaN,NaN,NaN,NaN,1.8798,1.8873,1.9079,...,3.8182,3.8174,3.8164,3.8155,3.8147,3.8140,3.8133,3.8126,3.8121,3.8116
2000-11-21,3.80430000,-0.75000000,0.84810000,NaN,NaN,NaN,NaN,1.8626,1.8624,1.8795,...,3.8173,3.8165,3.8157,3.8149,3.8143,3.8136,3.8131,3.8126,3.8122,3.8118
2000-11-22,3.78930000,-0.61650000,0.74850000,NaN,NaN,NaN,NaN,1.8333,1.8268,1.8386,...,3.8093,3.8082,3.8071,3.8061,3.8051,3.8042,3.8033,3.8026,3.8019,3.8013
2000-11-23,-9999,-9999,-9999,NaN,NaN,NaN,NaN,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2000-11-24,3.79320000,-1.57050000,1.69980000,NaN,NaN,NaN,NaN,1.8252,1.8279,1.8436,...,3.8031,3.8023,3.8016,3.8010,3.8005,3.8000,3.7996,3.7993,3.7989,3.7986
2000-11-27,3.75720000,-0.55900000,0.83370000,NaN,NaN,NaN,NaN,1.8377,1.8394,1.8580,...,3.7971,3.7942,3.7915,3.7892,3.7872,3.7853,3.7837,3.7822,3.7809,3.7797
2000-11-28,3.74480000,-0.39510000,0.71650000,NaN,NaN,NaN,NaN,1.7732,1.7755,1.7954,...,3.7992,3.7955,3.7922,3.7891,3.7864,3.7839,3.7817,3.7797,3.7779,3.7762
2000-11-29,3.73890000,-0.48490000,0.79600000,NaN,NaN,NaN,NaN,1.7315,1.7382,1.7628,...,3.7877,3.7843,3.7812,3.7784,3.7759,3.7736,3.7716,3.7698,3.7682,3.7668
2000-11-30,3.71800000,-0.50090000,0.76140000,NaN,NaN,NaN,NaN,1.6745,1.6849,1.7131,...,3.7585,3.7557,3.7531,3.7508,3.7487,3.7469,3.7452,3.7437,3.7424,3.7412

In [15]:
test3 = test2.ix[1:]

In [16]:
test3.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,126
1,1999-01-04,3.66880000,-1.74990000,3.04980000,NaN,NaN,NaN,NaN,0.7475,0.7825,...,3.8673,3.8527,3.8397,3.8281,3.8179,3.8088,3.8007,3.7934,3.7869,3.7810
2,1999-01-05,3.68260000,-1.75400000,3.06240000,NaN,NaN,NaN,NaN,0.7825,0.8148,...,3.8845,3.8698,3.8566,3.8449,3.8345,3.8252,3.8169,3.8096,3.8029,3.7969
3,1999-01-06,3.67530000,-1.80790000,2.75900000,NaN,NaN,NaN,NaN,0.8358,0.8902,...,3.7691,3.7613,3.7547,3.7490,3.7441,3.7398,3.7360,3.7326,3.7296,3.7269
4,1999-01-07,3.60670000,-9.98830000,11.86130000,NaN,NaN,NaN,NaN,0.8651,0.9233,...,3.7698,3.7562,3.7448,3.7349,3.7264,3.7189,3.7123,3.7064,3.7012,3.6965
5,1999-01-08,3.60570000,-4.43810000,6.10630000,NaN,NaN,NaN,NaN,0.9286,0.9822,...,3.7913,3.7762,3.7633,3.7521,3.7424,3.7338,3.7263,3.7196,3.7136,3.7082